:root {
	--blurple: #7289DA;
	--darkBlurple: #677bc4;
	--darkerBlurple: #5b6eae;
	--error: #f04747;
	--background: #36393f;
	--darkBackground: #23272A;
	--lightText: #dcddde;
	--darkBlack: #040405;
	--lightGrey: #b9bbbe;
	--lighterGrey: #72767d;
	--darkGrey: #8e9297;
}